on early-init
    mkdir /metadata 0771 system system
    mkdir /mnt/vendor 0755 root system
    mkdir /mnt/vendor/persist 0771 root system
    mkdir /mnt/vendor/mi_ext 0755 root system
    mkdir /odm 0755 root root
    mkdir /vendor_dlkm 0755 root root


on boot
    setprop sys.usb.config adb
